#canvas {
    position: absolute;
    margin-left: 300px;
    transform: translate(0%, -61%);
}

.figures {
    margin-top: 20px;
    margin-left: 10px;
}

.string {
    padding: 5px;
    width: 220px;
}

.input-field {
    float: right;
    width: 100px;
}

#circle-options {
    display: none;
    height: 120px;
}

#rectangle-options {
    display: none;
    height: 120px;
}

#triangle-options {
    display: none;
    height: 120px;
}

.button {
    margin-top: 70px;
    margin-left: 7px;
}

#apply {
    display: none;
}