.linear {
    padding-top: 2px;
}

sw_tb {
    padding: 0;
    width: 100%;
    height: 43px;
    margin: 0;
    font-size: 13px;
}


ul.hs {
    margin: 0;
    padding: 4px;
}

body {
    font-family: Arial;
	font-size: small;
}

sw_footL {
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    right: 20px;
    white-space: nowrap;
}

.top-menu li {
	display: inline-block;
	margin: 0;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 3;
	height: 43px;
	background-color: #333;
}

.top-menu li.active {
	color: #0c8484;
}

.top-menu a {
	margin-left: 18px;
    margin-right: 18px;	
	background-color: #333;
	color: #acacac;
}

#wrapper {
	max-width: 1275px;
	max-height: 957px;
}

header {
	padding: 47.25px 0;	
    background-color: #333;
}



.b_searchbox {
	width: 490px;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 3px;
    margin-left: 12px;
    border: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 30px;
    border-right: 1px solid;
    border-color: #ccc;
    box-sizing: content-box;
    position: relative;
    height: 40px;
}

.header-logo {
    float: left;
    text-indent: -20em;
    padding-right: 8px;
    height: 50px;
}

.hp_sw_logo {
    float: left;
    text-indent: -20em;
    _padding-right: 8px;
    _height: 50px;
}

.logo {
	background-position: 0 0;
    margin: -7px 21px 0 0;
    width: 124px;
    height: 52px;
    background-image: url(../images/logo.png);
}