body {
    font: 13px Tahoma, sans-serif;
    margin: auto;
    overflow: hidden;
    background-image: url(../images/bg.jpg);
}

.avatarNew {
    margin: 20px 0px 20px 0px;	
}

.langLbl {
    display: table-cell;

}

.userExit {
    display: table-cell;
    padding-left: 20px;
}

.userExit1 {
    display: table-cell;
	padding-right: 40px;
	float:right;
}

.left-text {
    line-height: 40px;
    margin-left: 3px;
    float:left;
}

.right-text {
    float:right;
    line-height: 40px;
    margin-right: 30px;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}

a  {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

a:active {
    color: #0c8484; 
}

.header {
    display: inline;
}

.header_panel_left {
    display: inline;
    line-height: 45px;
    left: 20px;
    position: relative;
}

.header_panel_left a {
    text-align: left;
    font-size: 13px;
    position: relative;
    top: -25px;
    margin-left: 32px;
}

.arrows {
  position:absolute;
  right:40px;
  bottom: 42px;
}

.arrows a {
  display:block;
  width:40px;
  height:40px;
  float:right;
  margin-left: 1px;
  background-color: rgba(34,34,34,.75);
}

.icon {
  background: url(http://www.bing.com/s/a/hpc20.png) no-repeat;
}


.prev {
  background-position: -122px -57px;
}

.next {
  background-position: -85px -139px;
}

.camera {
  background-position: -84px -98px;
}

.header_panel_right {
    display: inline;
    line-height: 45px;
    left: 400px;
    position: relative;
}

.header_panel_right a {
    text-align: right;
    font-size: 13px;
    position: relative;
    top: -25px;
    margin-right: 16px;
}

.main {
    width: auto;
    height: 550px;
	margin-left: 30px;
}

.hp_ctrls {
    width: auto;
	top: 0px
	position: absolute;
}

.header-logo img {
    margin-top: 6%;
	margin-left: -70%;
    width: 441;
    height: 141;
}

.search_box input {
    font: 16px arial,sans-serif;
    height: 44px;
    width: 491px; 
    border: none;  
    padding: 0px;    
    text-indent: 16px;
    margin-top: 62px;
    margin-left: 150px;
    position: relative;
}


.search_box img {
    position: relative;
    top: 16px;
    left: 125px;
}

.seachbox {
    top: -44px;
    left: 768px;
    height: 24px;
    width: 24px;
	background-color: #0c8484;
    position: relative;
    padding: 10px;
}

img {
    cursor: pointer;
}


footer {
    background: #333;
    height: 40px;
    width:100%;
    min-width: 980px;
    position:absolute;
    left:0;
    bottom:0;
    font-size: 10pt;
}

footer a {
    font-size: small;
    display: inline-block;
    color: #666666;
    padding-left: 10px;
	
}

