body{
    font-family:Arial,sans-serif;
    font-size:13px;
}

header{
    display:block;
}

.header-bg{
    margin-top:2px;
    height:37px;
    text-align:right;
    margin-top:6px;
    display:block;
}

.header-bg a{
    position:relative;
    top:-4px;
    padding-right:18px;
}

a{
    color:#696969;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.application{
    margin-top:15px;
    opacity:0.66;
    height:16px;
    display:inline-block;
    box-sizing:border-box;
    padding-right:18px;
}

.application:hover, .application:focus, .application:active{
    opacity:1;
}

.upper-right{
    margin-right:-7px;
    }

.button-input-place{
    position:relative;
    top:-4px;
    margin-right:22px;
    box-sizing:border-box;
    display: inline-block;
    }

.button-input{
    padding-top:0px;
    border-radius:3px;
    font-size:13px;
    height:30px;
    width:65px;
    border:none;
    color:#ffffff;
    font-weight:bold;
    background:-webkit-linear-gradient(top,#4387fd,#4683ea);
    outline:none;
}

.button-input:hover{
    box-shadow:0 0.8px 0px 0 rgba(0,0,0,0.16), 0 0 0 0.8px rgba(0,0,0,0.08);
}

.mainImage{
    margin-top:152px;
    margin-left:536px;
    width:283px;
    height:94px;
}

.placeholder{
    margin-top:27px;
    margin-left:390px;
}

.placeholder-text{
    width:584px;
    height:44px;
    text-indent:15px;
    font-size:16px;
    top:-5px;
}

input[type="search"]{
    border:0.5px;
    outline:none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.08);
}

.placeholder input:hover, .placeholder input:focus{
    border:1px;
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    outline:none;
}

.buttons{
    margin-top:32px;
    margin-left:544.5px;
}

input[type="submit"]{
    background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    color:#757575;
    font-size:13px;
    font-weight:bold;
    border-radius:2px;
    border:1px solid #f2f2f2;
    padding:0 16px;
}

.button-design-first{
    height:36px;
    width:134px;
}

.button-design-second{
    height:36px;
    width:118.84px;
}

input[type="submit"]:hover{
    color:#1d1d35;
    border:1px solid #d0d0d0;
    background:-webkit-linear-gradient( #f2f2f2, #f8f8f8);
    outline:none;
}

input[type="submit"]:focus{
    outline:none;
    border:1px solid #1da1f2;
}

.button-padding{padding-left:4px;}

.footer{
    line-height: 39px;
    position:fixed;
    left:0;bottom:0;
    padding:0px;
    border:0.5px solid #e4e4e4;
    background:whitesmoke;
    width:100%;
}

.lower_left-1{
    padding-left:29px;
    margin:0
}

.lower_left-2{
    padding-left:27px;
    margin:0
}

.lower_center{
    padding-left:725px;
    margin:0
}

.keyboard{
    position:relative;
    top:-107px;
    right:-230px;
    opacity:0.75;
    width:19px;
    height:11px;
    padding:10px;
}

.keyboard:hover, .keyboard:focus, .keyboard:active{
    opacity:1;
}

.voice{
    position:relative;
    top:-141px;
    left:271px;
    cursor:pointer;
    width:14px;
    height:14px;
    padding:10px;
}