body,
button,
option,
input,
select {
    font-family: 'Montserrat Alternates', sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #29324e;
}

.content {
    width: 960px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.full-width {
    width: 100%;
}

h1 {
    text-align: center;
    color: #030d18;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.left {
    float:left;
    width:50%;
}

.right {
    float:right;
    width: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.changer {
    width: 100%;
    height: 480px;
    padding: 0 20px;
}

#canvas {
    margin: 20px auto;
    width: 440px;
    height: 440px;
    background-color: #f9f9f9;
    border:1px solid #ccc;
    border-radius: 2px;
}

#apply-btn {
    margin:0 auto
}

label {
    display: block;
    width: 100%;
}

#apply-btn, input[type="text"], select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    border-radius: 2px;
    border:1px solid #ccc;
}

#apply-btn {
    border: none;
    display: inline-block;
    padding: 1em 1.8em;
    background-color: rgba(245, 72, 74, 0.9);
    margin-top: 1em;
    border-radius: 20em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

#circle-optional-form, #rectangle-optional-form, #triangle-optional-form, #apply-btn  {
    display: none;
}

.half {
    width: 50%;
    float: left;
}

.clear {
    clear: both;
}