#canvas {
    position: absolute;
    margin-left: 370px;
    margin-top: auto;
    background-color: #f9f9f9;
    border: 4px double lightgray;
}

.controls {
    border: 4px double lightgray;
    width: 350px;
}

.main-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fixed-height {
    height: auto;
}

.input-line {
    padding: 5px;
    width: 300px;
    height: 17px;
}

.control-label {
    float: left;
}

.control-right-padding {
    float: right;
}

#circle-selector-type {
    display: none;
}

#rectangle-selector-type {
    display: none;
}

#triangle-selector-type {
    display: none;
}

.button {
    margin-left: 70px;
}

#apply-btn {
    display: none;
}