
.body, html {
    background: #f6f5f4
}

.layout_inner
{
    width: 100%;
}

.layout_inner .header-logo img {
    margin-left: 21px;
    margin-top: 13px;
    width: 153px;
    height: 28px;
    position: absolute
}

.layout_inner .header .container {
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #d8d8d8;
    background: white 
}

.layout_inner .login_form 
{
    width: 300px;
    height: 343px;

    margin: auto;
    text-align: center;
    padding: auto;

    background: url("img/login_form.png") no-repeat;
}

.layout_inner .login_form .phone img
{  
    width: 300px;
    height: -343px;

    text-align: center;

    position: relative;
    margin: -343px 0px;
}


.layout_inner .login_form .login_area
{
    box-sizing: border-box;
    text-align: center;
    width: 293px;
    height: 222px;
    padding : 60px 20px 10px; 
}

.layout_inner .login_form .roof
{
    box-sizing: border-box;
    width: 300px;
    height: 50px;

    margin: 50px 0px 0px;
    text-align: center;
}

.layout_inner .login_form .login_container
{
    width: 258px;
    height: 32px;

    margin: 0px 0px 10px;

    position: relative;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 62.5%;

}

.layout_inner .login_form .login_container .text_box_login
{
    width: 258px;
    height: 32px;
    padding: 5px 10px 5px;

    border: 1px solid transparent;
    border-color: rgba(0,0,0,.27);
    border-top-color: rgba(0,0,0,.38);
    border-bottom-color: rgba(0,0,0,.16);
}

.layout_inner .login_form .password_container
{
    width: 258px;
    height: 32px;

    margin: 0px 0px 10px;
}

.layout_inner .login_form .password_container .text_box_password
{
    width: 258px;
    height: 32px;
    padding: 5px 10px 5px;

    border: 1px solid transparent;
    border-color: rgba(0,0,0,.27);
    border-top-color: rgba(0,0,0,.38);
    border-bottom-color: rgba(0,0,0,.16);
}



.layout_inner .login_form .login_area .log_in_row
{
    line-height: auto;

    padding: 0px;
    margin: 1px 0px 10px;
}

.layout_inner .login_form .login_area .log_in_row li
{
    display: inline; 
}

.layout_inner .login_form .login_area .log_in_row li .qr_code_img img
{
    display: inline; 

    height: 32px;
    width: 38px;
}

.layout_inner .login_form .login_area .log_in_button
{
    width: 222px;
    height: 32px;
    float: left;
    background: linear-gradient(to top, #FFDE58, #FFCF0C);
}

.layout_inner .login_form .buttons
{
    position: relative;

    height: 50px;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layout_inner .login_form .buttons .left_part
{
    float:left; 
    padding : 15px 0px;
}

.layout_inner .login_form .buttons .right_part
{
    float:right; 
    padding : 15px 0px;
}

.layout_inner .login_form .login_area
{
    width: 300px;
    height: 293px;
    position:relative;
    
}

.layout_inner .login_form .login_area img
{
    width: 24px;
    height: 24px;
    position:relative;
}

.layout_inner .login_form .login_area .alien_checkbox
{
    display: inline-block;
    text-align: left;

    cursor: pointer;
    width: 293px;
    height: 20px;
    
    line-height: 10px;
    margin: 0px 0px 5px;
}

.layout_inner .login_form .login_area .alien_checkbox label
{
    display: inline;
    position: relative;
}

.layout_inner .login_form .login_area .alien_checkbox input::before
{
    display: inline;
    position: relative;
}

.layout_inner .login_form .login_area .alien_checkbox .label 
{
    display: inline;
    cursor: pointer;

    position: relative;
}

.layout_inner .login_form .login_area .social_icon
{
   padding: 0px;
   margin: 1px;
}

.layout_inner .login_form .login_area .social_icon li
{
    display: inline;

    padding: 2px;   
}

.footer
 {
    width:100%;
    height: 65px;

     
    margin: 50px auto;
    min-width: 860px;
   
    background: white;   
    border-top: 1px solid #e4e4e4;

    font-family: Arial,sans-serif;
}


.footer .footer_inner
{
    width: 840px;
    height: 65px;

    padding: 0px 10px 0px;
    
    margin: auto;
}

.footer .footer_inner .left_part
{
    float:left;
    line-height: 65px;
}

.footer .footer_inner .left_part .elements_left_part li
{
    display: inline;
    padding-right: 50px;

    font-family: Arial,sans-serif;
}

.footer .footer_inner .right_part
{
    float:right;
    line-height: 65px;  
}
.footer .footer_inner .right_part .elements_right_part li
{
    display: inline; /* Отображать как строчный элемент */
    padding-left: 50px;

    font-family: Arial,sans-serif;
}

.footer .footer_inner .right_part .fotter_help
{
    margin-left: 50px;
    padding: 0px;
    font-size: 13px; 
}

.footer .footer_inner .fotter_copyright
{
    margin-left: 50px;
    padding: 0px;
    font-size: 13px;
}