
.body, html {
    background: #f6f5f4
}
.header-logo img {
    margin-left: 21px;
    margin-top: 13px;
    width: 153px;
    height: 28px;
    position: absolute
}

.header .container {
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #d8d8d8;
    background: white 
}

.login_form 
{
    width: 300px;
    height: 343px;

    margin: auto;
    text-align: center;
    padding: auto;
}

.login_form .login_area img{  
    width: 300px;
    height: 343px;
    position:relative;
}


.login_form .login_area
{
    box-sizing: border-box;
    text-align: center;
    width: 293px;
    height: 222px;
    padding : 60px 20px 10px
}

.login_form .roof
{
    box-sizing: border-box;
    width: 300px;
    height: 50px;

    text-align: center;
}

.login_form .login_container
{
    margin: 0 0 10px;

    min-height: 32px;
    width: 100%;

    position: relative;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 62.5%;
    padding: 5px 10px 5px
}
.login_form .password_container
{
    margin: 0 0 10px;

    min-height: 32px;
    width: 100%;

    position: relative;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 62.5%;

    padding: 5px 10px 5px
}

.login_form .login_area img
{
    width: 24px;
    height: 24px;
    position:relative;
}

.fotter {	
    width: 100%;
    height: 65px;
    margin: 65px 0px 0px;
    position: relative;

    border-top: 1px solid #d8d8d8;
    background: white 
}

.fotter .container
{
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #d8d8d8;
    background: white 
}

.fotter .Russian-flag img {
    margin-left: 12px;
    margin-top: 12px;
    width: 16px;
    height: 12px;
}