#canvas {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 100px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.normal-margin {
    margin-top: 20px;
    margin-left: 30%;
}

.fixed-height {
    height: 120px;
}

.input-line {
    padding: 5px;
    width: 300px;
    height: 17px;
}

.control-label {
    float: left;
}

.input-box {
    float: right;
}

#circle-optional-form {
    display: none;
}

#rectangle-optional-form {
    display: none;
}

#triangle-optional-form {
    display: none;
}

.button {
    position: absolute;
    left: 44%;
    top: 30%;
}

#apply-btn {
    display: none;
}