#canvas {
  display: inline;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  margin-right: 50px;
}

.form-group {
  height: 100%;
  width: 100%;
}

input, select {
  margin-bottom: 10px;
}

.shape_fields input {
  margin-right: 5px;
}