body {
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    font-size: small;
    overflow: auto;
    background-image: url(../images/bg.jpg);
}

.header {
    display: inline;
}

.header-left {
    display: inline;
    position: relative;
    top: -42;
    left: 41;
}

.header-left-non-search {
    display: inline;
    position: relative;
    left: 0;
    top: 1;
}

.header-left a {
    margin-right: 32.5;
}

.header-left-line {
    position: relative;
    top: -2;
    margin-left: -3;
    margin-right: 29 !important;
}

.header-right {
    display: inline;
    line-height: 45px;
    left: 400px;
    position: relative;
}

.avatar {
    margin: 20px 0px 20px 0px;
}

.lang {
    display: table-cell;
}

.user-exit {
    display: table-cell;
    padding-left: 20px;
}

.left-text {
    line-height: 40px;
    margin-left: 3px;
    float: left;
}

.footer-text {
    float: right;
    line-height: 40px;
    margin-right: 30px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0c8484;
}

.arrows {
    position: absolute;
    right: 40px;
    bottom: 42px;
}

.arrows a {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 1px;
    background-color: rgba(34, 34, 34, .75);
}

.icon {
    background: url(http://www.bing.com/s/a/hpc20.png) no-repeat;
}

.prev {
    background-position: -122px -57px;
}

.next {
    background-position: -85px -139px;
}

.camera {
    background-position: -84px -98px;
}

.hp-ctrls {
    width: auto;
    top: 0px;
    position: absolute;
}

.header-logo img {
    width: 132;
    height: 52;
}

.search {
    position: absolute;
    top: 98px;
    left: -31px;
    margin-top: 10px;
    height: 550px;
    margin-left: 30px;
}

.search-box input {
    font: 16px arial, sans-serif;
    height: 50.8;
    width: 626;
    border: none;
    padding: 0px;
    text-indent: 16px;
    margin-top: 45px;
    margin-left: 150px;
    position: relative;
}

.search-box img {
    position: relative;
    top: 16px;
    left: 125px;
}

.search-icon {
    top: -44px;
    left: 768px;
    height: 24px;
    width: 24px;
    background-color: #0c8484;
    position: relative;
    padding: 10px;
}

img {
    cursor: pointer;
}

footer {
    background: #333;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer a {
    font-size: small;
    display: inline-block;
    color: #9a9a9a;
    padding-left: 10px;
    font-size: 9pt;
}