body {
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    font-size: small;
    overflow: hidden;
    background-image: url(../images/bg.jpg);
}

.header {
    display: inline;
}

.header-left {
    display: inline;
    position: relative;
    top: -42;
    left: 41;
}

.header-left-non-search {
    display: inline;
    position: relative;
    left: 0;
    top: 1;
}

.header a {
    color: #C4C9C4;
}

.header a:hover {
    color: #fff;
    text-decoration: none;
}

.header-left a {
    margin-right: 32.5;
    text-decoration: none;
}

.header-left-line {
    position: relative;
    top: -2;
    margin-left: -3;
    margin-right: 29 !important;
}

.header-right {
    display: inline;
    position: relative;
    top: -42;
    left: 560;
}

.header-right a {
    color: #fff;
    text-decoration: none;
}

.enter {
    position: relative;
    top: 1;
    left: -1.5;
}

.avatar {
    top: 25;
    left: 17;
    position: relative;
    margin: 20px 20px 20px 0px;
}

.ham {
    position: relative;
    left: 4;
    top: 20;
    height: 13;
    width: 20;
}

.user-exit {
    display: table-cell;
    padding-left: 20px;
}

.search {
    position: relative;
    top: 40;
    left: -9;
}

.search-box input {
    font: 16 arial, sans-serif;
    height: 50.8;
    width: 626;
    border: none;
    padding: 0px;
    text-indent: 16;
    margin-top: 45;
    margin-left: 150;
    position: relative;
}

.search-box img {
    position: relative;
    top: 16px;
    left: 125px;
}

.input-search {
    position: relative;
    top: -7;
    left: 0;
}

.search-icon {
    top: -58;
    left: 851;
    height: 24;
    width: 24;
    background-color: #007DAA;
    position: relative;
    padding: 14px;
}

.arrows {
    position: absolute;
    right: 23;
    bottom: -455;
}

.arrows a {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 1px;
    background-color: rgba(34, 34, 34, .75);
}

.icon {
    background: url(http://www.bing.com/s/a/hpc20.png) no-repeat;
}

.prev {
    background-position: -122px -57px;
}

.next {
    background-position: -85px -139px;
}

.camera {
    background-position: -84px -98px;
}

.footer-text {
    float: right;
    line-height: 40px;
    margin-right: 30px;
}

img {
    cursor: pointer;
}

footer {
    background: #333;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer a {
    font-size: small;
    display: inline-block;
    color: #9a9a9a;
    padding-left: 10px;
    font-size: 9pt;
}