body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-rendering: optimizeLegibility;
}

.icon {
    width: 95px;
    height: 37px;
    position: absolute;
    background-image: url("res/icon.png");
    top: 27px;
    left: 70;
    text-align: center;
}

.form {
    font-size: 62.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 50px;
    width: 495;
    height: auto;
}

.form-box {
    width: 325px;
    height: auto;
    padding-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.box-label {
    line-height: 17px;
    margin: 0 0 6.25px;
    color: #666;
}

.inpt {
    font-family: Arial;
    font-size: 15px;
    line-height: 20px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid transparent;
    border-color: rgba(0, 0, 0, .27);
    border-top-color: rgba(0, 0, 0, .38);
    border-bottom-color: rgba(0, 0, 0, .16);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-appearance: none;
    margin: 0;
}

.inpt:focus {
    box-shadow: 0 0 6px 2px rgba(255, 204, 0, .7), 0 1px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .1);
    z-index: 9;
    outline: none;
}

.password-indicator {
    height: 6px;
    margin-top: 6.25px;
    margin-bottom: 5px;
    font: 0/0 a;
    background: #ddd;
}

.password-view {
    padding-right: 30px;
}

.password-eye:hover {
    opacity: 1;
}

.password-eye {
    position: absolute;
    cursor: pointer;
    background-image: url("res/eye.png");
    opacity: .65;
    width: 32px;
    height: 32px;
    top: 23;
    right: 20;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.phone-confirm-box {
    width: 325px;
    height: auto;
    padding-right: 20px;
    position: relative;
}

.short {
    width: 188px;
}

.btn {
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: baseline;
}

.promo-btn:hover {
    background: #ffe57d;
    background: -moz-linear-gradient(top, #ffe57d 0%, #ffd52c 100%);
    background: -webkit-linear-gradient(top, #ffe57d 0%, #ffd52c 100%);
    background: linear-gradient(to bottom, #ffe57d 0%, #ffd52c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffe57d', endColorstr='#ffd52c', GradientType=0);
}

.promo-btn {
    line-height: 22px;
    font-family: Arial, sans-serif;
    position: relative;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: 0;
    background: #f9c400;
    background: -webkit-linear-gradient(top, #ffe025, #f9c400 92%, #be8c05);
    background: -o-linear-gradient(top, #ffe025, #f9c400 92%, #be8c05);
    background: linear-gradient(to bottom, #ffe025, #f9c400 92%, #be8c05);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .36);
    color: rgb(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 1px 0 #fff;
    font-size: 24px;
    padding: 13px 27px;
    border-radius: 4px;
}

.action-btn:hover {
    background: #ffe57d;
    background: -moz-linear-gradient(top, #ffe57d 0%, #ffd52c 100%);
    background: -webkit-linear-gradient(top, #ffe57d 0%, #ffd52c 100%);
    background: linear-gradient(to bottom, #ffe57d 0%, #ffd52c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffe57d', endColorstr='#ffd52c', GradientType=0);
}

.action-btn {
    font-family: Arial, sans-serif;
    position: relative;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .07), inset 0 0 0 1px rgba(128, 128, 128, 0.5);
    font-size: 15px;
    line-height: 22px;
    padding: 5px 15px;
    background: #f9c400;
    background: -webkit-linear-gradient(top, #ffe025, #f9c400 92%, #be8c05);
    background: -o-linear-gradient(top, #ffe025, #f9c400 92%, #be8c05);
    background: linear-gradient(to bottom, #ffe025, #f9c400 92%, #be8c05);
    background: linear-gradient(#ffdf60, #fc0);
}

.reference {
    color: #0072bc;
    text-decoration: none;
    cursor: pointer;
}

.reference:hover {
    color: #F00;
}

reference:visited {
    color: #0072bc;
}

.without_num_label {
    position: absolute;
    right: 25px
}

.tel_input_offset {
    right: -8px;
}

.tel_example {
    margin-bottom: 3px;
}

.info_txt {
    width: 700px;
    line-height: 19.5px;
    margin-top: 23px;
}

.agree_check_box {
    margin: 0px;
    margin-right: 1px;
    margin-top: 1px;
}

.promo_btn_offset {
    top: 14px;
}