.layot {
	position: static;
	height: auto;
    min-height: 0;
}

.button {
	position: absolute;
	left: 250px;
	top: 300px;
	height: auto;
    min-height: 0;
}

.authorizationForm {
	position: relative;
	top: 47px;
	margin: auto;
	width: 495px;
}

.textForm {
	position: relative;
	width: 325px;
	color: #666;
	padding-right: 20px;
	margin-bottom: 20px;
}

.downLabel {
	z-index: 3;
}

.passwordInputForm {
	background-repeat: no-repeat;
	background-position: right;
	background-image: url("../img/eye.png");
	font-family: Arial, sans-serif;
	font-size: 15px;
	width: 100%;
	min-height: 32px;
	line-height: 20px;
}

.passwordInputForm:focus {
	outline: none;
	border-color: rgba(94,76,2,.42);
    border-top-color: rgba(78,62,2,.515);
    border-bottom-color: rgba(117,93,0,.335);
    box-shadow: 0 0 6px 2px rgba(255,204,0,.7), 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.1);
    z-index: 9;
}

.passwordIndicator {
	position: relative;
	height: 6px;
	width: 325px;
	margin: 5px 0;
	font: 0/0 a;
	background: #ddd;
}

.phoneForm {
	display: block;
	color: #666;
}

.phoneInput {
	display: table-cell;
}

.phoneLabelRow {
	margin-bottom: 6px;
	width: 325px;
}

.phoneLabelForm {
}


.linkPhone {
	position: relative;
	float: right;
	left: 10px;
	text-decoration: none
}
.linkPhone:hover {
	color: red;
}

.phoneInputRow {
	display: block;
}

.phoneInputForm {
	width: 188px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	min-height: 32px;
	line-height: 20px;
}
.phoneInputForm:focus {
	outline: none;
	border-color: rgba(94,76,2,.42);
    border-top-color: rgba(78,62,2,.515);
    border-bottom-color: rgba(117,93,0,.335);
    box-shadow: 0 0 6px 2px rgba(255,204,0,.7), 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.1);
    z-index: 9;
}

.inputForm {
	font-family: Arial, sans-serif;
	font-size: 15px;
	width: 100%;
	min-height: 32px;
	line-height: 20px;
}
.inputForm:focus {
	outline: none;
	border-color: rgba(94,76,2,.42);
    border-top-color: rgba(78,62,2,.515);
    border-bottom-color: rgba(117,93,0,.335);
    box-shadow: 0 0 6px 2px rgba(255,204,0,.7), 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.1);
    z-index: 9;
    
}

.finishForm {
	position: relative;
	line-height: 17px;
	top: 14px;
}

.buttonCode {
	position: relative;
	background: linear-gradient(to bottom, #ffe025, #f9c400 92%, #be8c05);
}

.buttonCode:hover {
	background: -webkit-linear-gradient(rgba(255, 223, 96, 0.8), rgba(255, 204, 0, 0.8));
}

.uiButton {
	display: table-cell;
	color : #000;
	font-size: 15px;
	left: 10px;
	min-height: 32px;
	line-height: 20px;
	padding: 8px 12px;
}

.registrationButton {
	line-height: 22px;
	font-family: Arial, sans-serif;
	position: relative;
	cursor: pointer;
	text-align: center;
	font-size: 22px;
	padding: 10px 30px;
	border-radius: 4px;
	outline: 0;
	background: linear-gradient(to bottom, #ffe025, #f9c400 92%, #be8c05);
}

.registrationButton:hover {
	background: -webkit-linear-gradient(rgba(255, 223, 96, 0.8), rgba(255, 204, 0, 0.8));
}
.conditionsForm {
	width: 700px;
	line-height: 19.5px;
	margin-top: 23px;
}