option[default] {
    display: none;
}

label {
    margin-right: 30px;
    margin-left: 20px;
}

.header {
    margin-left: 20px;
}

.parameter_input {
    width: 80px;
}

.parameter_input_div {
    display: none;
}

canvas {
    border: 1px solid black;
}

.control_elem {
    margin: 20px;
}

.parameter_input_col {
    border: 1px solid black;
    height: 300px;
    width: 500px;
}

.controls_line {
    margin-top: 5px;
}

.mutual_parametres {
    box-sizing: content-box;
}

.btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}
