option[default] {
    display: none;
}

body {
    display: flex;
}

label {
    margin-right: 30px;
}

.parameter_input {
    width: 60px;
}

.parameter_input_div {
    display: none;
}

canvas {
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: 25px;
}

.control_elem {
    margin: 20px;
}

.controls {
    border: 1px solid black;
    height: 250px;
    width: 400px;
}

.controls_line {
    margin-top: 5px;
}

.button {
    padding: 5px;
}