body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body::after {
    display: none;
    content: url("../img/favorite_icon.svg") url("../img/facebook.svg") url("../img/favorite_icon_over.svg") url("../img/google+.svg") url("../img/input-password-eye.png") url("../img/logo-avito.svg") url("../img/odnoklassniki.svg") url("../img/vkontakte.svg")
}

.header {
    box-sizing: border-box;
    .container {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #d8d8d8;
        .header_services {
            width: 964px;
            padding: 0 18px;
            margin: 0 auto;
            position: relative;
            font-size: 13px;
            .header_navigation {
                float: left;
                margin-top: 2px;
            }
            .header_menu {
                display: inline-flex;
                box-sizing: border-box;
                float: right;
                margin-top: 2px;
                .icon_container {
                    margin-right: 8px;
                    float: left;
                    .icon {
                        background: url("../img/favorite_icon.svg") center no-repeat;
                        background-size: 21px;
                        height: 21px;
                        width: 21px;
                        padding: 0 7px 3px;
                        &:hover {
                            background-image: url("../img/favorite_icon_over.svg");
                        }
                    }
                }
                .delimeter {
                    display: inline-block;
                    border-left: 1px solid #dcdcdc;
                    height: 17px;
                    margin: 6px 0;
                }
                .input {
                    float: left;
                    padding: 6px 15px 3px;
                }
            }
        }
        .header_basic {
            position: relative;
            width: 964px;
            height: 49px;
            margin: 0 auto;
            background: #fff;
            border-bottom: 1px solid #d8d8d8;
            .left_position {
                float: left;
                display: inline;
                .logo {
                    background: url("../img/logo-avito.svg") center no-repeat;
                    background-size: contain;
                    width: 115px;
                    height: 44px;
                    margin: 2px 5px 0 -5px;
                    float: left;
                }
                .categories {
                    float: left;
                    margin: 12px 0 6px 0px;
                    font-size: 14px;
                    line-height: 20px;
                    li {
                        margin: 0;
                        padding: 6px 12px 4px;
                    }
                }
            }
            .post_advert {
                position: absolute;
                right: 0;
                display: flex;
                margin: 7px 0;
                float: right;
            }
            .button {
                padding: 6px 13px;
                background: #0af;
                border-color: transparent;
                font-weight: 700;
                line-height: 20px;
                color: white !important;
                &:hover {
                    background: #26b7ff;
                    border-color: #0095e0;
                }
                &:active {
                    box-shadow: inset 0 2px 1px #009cea;
                }
            }
        }
    }
}

.header .container_no_border {
    height: 49px;
    border: 0;
}

.main {
    width: 984px;
    padding: 0 8px;
    margin: 0 auto;
    .container {
        box-sizing: border-box;
        height: 510px;
        .form_auth {
            height: 383px;
            width: 472px;
            margin: 30px auto 20px;
            font-size: 14px;
            line-height: 20px;
            .login_form {
                box-sizing: border-box;
                height: 348px;
                width: 472px;
                margin: 0 0 15px;
                padding: 25px 82px 30px;
                box-shadow: inset 0 0 0 5px #ececec;
                .form_title {
                    margin: 0 0 15px;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: center;
                }
                .form_input {
                    margin: 0 0 15px;
                    font-size: 14px;
                }
                .password_container {
                    position: relative;
                    .close_eye {
                        position: absolute;
                        right: 0;
                        top: 9px;
                        width: 36px;
                        height: 30px;
                        background: url("../img/input-password-eye.png") 0 -15px no-repeat;
                        cursor: pointer;
                    }
                }
                .description {
                    height: 20px;
                    margin-bottom: 15px;
                    .form_checkbox {
                        cursor: pointer;
                        float: left;
                        input {
                            width: initial;
                            height: initial;
                            cursor: pointer;
                            left: -1px;
                            position: relative;
                            &::before {
                                position: relative;
                                top: -1px;
                                left: -3px;
                                width: 14px;
                                height: 14px;
                                background-color: white;
                                border: 1px solid #d8d8d8;
                                border-radius: 2px;
                                display: inline-block;
                                content: '';
                            }
                            &:hover::before {
                                border-color: #b8b8b8;
                            }
                        }
                        .label {
                            float: right;
                            padding-left: 5px;
                        }
                    }
                    .password_restore {
                        float: right;
                    }
                }
                .button {
                    width: 116px;
                    margin: 0 auto;
                    text-align: center;
                    background-color: #fcc226;
                    border-color: #fcc226;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    &:hover {
                        background-color: #fcd326;
                        border-color: #fba617;
                    }
                }
                .delimeter {
                    margin: 14px -20px 19px;
                    font-size: 13px;
                    color: #858585;
                    text-align: center;
                    background: linear-gradient(to top, #ececec, #ececec) 0 55%/100% 1px no-repeat;
                    .text {
                        background-color: white;
                        width: 36px;
                    }
                }
                .social_elements {
                    margin: 0 auto;
                    margin-top: -1px;
                }
            }
            .form_footer {
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
            }
        }
        .footer {
            height: 83px;
            margin: 43px 0 0;
            font-size: 11px;
            .nav {
                height: 37px;
                max-height: 29px;
                margin: 19px -18px 2px;
                padding: 7px 18px 1px;
                text-align: justify;
                width: 100%;
                border-bottom: 1px solid #e1e1e1;
                background-color: white;
            }
            .list {
                width: 100%;
                li {
                    display: inline-block;
                    padding-right: 21.75px;
                }
            }
            .list :last-child {
                padding-right: 0;
                margin-right: 0;
            }
            .about {
                padding-bottom: 10px;
                line-height: 15px;
                margin-right: 110px;
                margin-top: 7px;
                color: #858585;
                .text_decorated {
                    border-bottom: 1px solid #dadada;
                    cursor: pointer;
                    &:hover {
                        color: #5e5e5e;
                        border-bottom-color: #5e5e5e;
                    }
                }
            }
        }
    }
}

.button_origin {
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    padding: 6px 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    &:active {
        padding-top: 7px;
        padding-bottom: 5px;
        box-shadow: inset 0 2px 2px 0 #ccc;
    }
}

.elements {
    display: flex;
    justify-content: center;
    align-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin-right: 18px;
    padding: 6px 0 3px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #008cc3;
    &:hover {
        color: #f06939;
    }
}

input {
    color: #000;
    padding: 0 8px;
    height: 30px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(142, 142, 142, .2);
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    width: 100%;
    &::-webkit-input-placeholder {
        color: #858585;
    }
    &:hover {
        border-color: #b8b8b8;
    }
    &:focus {
        border-color: #0af;
        outline: none;
        box-shadow: 0 0 3px 0 #7fd4ff, inset 0 1px 1px rgba(142, 142, 142, .2);
    }
}

.btn {
    width: 48px;
    height: 34px;
    margin: 0 4px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    &.btn_vk {
        background-color: #4d75a3;
        background-image: url("../img/vkontakte.svg");
        background-size: 15px 17px;
        background-position-y: 8px;
        &:hover {
            background-color: #496f9a;
        }
    }
    &.btn_odnokl {
        background-color: #e27e35;
        background-image: url("../img/odnoklassniki.svg");
        background-size: 12px 20px;
        background-position-y: 7px;
        &:hover {
            background-color: #e0772a;
        }
    }
    &.btn_fb {
        background-color: #395185;
        background-image: url("../img/facebook.svg");
        background-size: 14px 25px;
        background-position-y: 4px;
        &:hover {
            background-color: #354c7c;
        }
    }
    &.btn_google {
        background-color: #dd4b39;
        background-image: url("../img/google+.svg");
        background-size: 26px 18px;
        background-position-y: 8px;
        &:hover {
            background-color: #db412e;
        }
    }
}