[class*="row"] {
    font-family: "Century Gothic";
    font-size: 17px;
    margin: 20px 0 0 0;
    padding: 0;
}

[class*="col"] {
    padding: 0;
}

[class*="col-md-6"] {
    padding: 0 10% 0 0;
}

[class*="form"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

[class*="form-control"] {
    padding: 0 0 0 20%;
    margin: 0 0 10px 0;
}
.full-width-form {
    width: 80%;
    padding: 0 0 0 20%;
    margin: 0 10% 0 10%;
}
header {
    background-color: #292f33;
}
h1 {
    color: #ffffff;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: bold;
}

.circleProp {
    visibility: visible;
    display: block;
}

p {
    margin-left: 10%;
}

.drawShapeField {
    border: 2px solid #000000;
    width: 1002px;
    height: 1025px;
    font-size:0; /* убираем горизонтальные отступы */
    line-height:0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing:-1px; /* переубеждаем webkit'ы */
}

.rectangleProp {
    visibility: visible;
    display: none;
}

.triangleProp {
    visibility: visible;
    display: none;
}
