body {
    display: inline-block;
}

canvas {
    margin-left: 1%;
    border: 1px solid black;
}

input {
    background-color: lightgreen;
    border: 2px solid midnightblue;
    border-radius: 4px 8px;
    width: 150px;
    height: 30px;
}

.toolbar {
    width: 200px;
    display: inline-block;
}

.settingColor {
    margin-left: auto;
}

.settingColor .color {
    margin-left: 20px;
    margin-top: 10px;
}

.addShape {
    margin-left: 20px;
}

.message {
    font-size: 20px;
    color: indigo;
    margin: 20px 0px 0px 50px;
}

.selection {
    margin-left: 20px;
}

.button {
    margin-top: 20px;
}

.settingShapes {
    width: 40%;
    height: 47%;
    margin-left: auto;
    margin-right: 1%;
    border: 3px solid greenyellow;
    border-radius: 8px;
}

.settingShapes .params {
    margin-left: 50px;
    margin-top: 10px;
}

.settingShapes .ready {
    float: right;
    margin-top: 150px;
    margin-right: 20px;
}

.settings {
    display: flex;
}

.selectionExShapes {
    margin: 10px 0px 0px 20px;
}

.changeColor {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}